@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  @apply bg-primary;
  color: #fefefe;
}
body {
  background: linear-gradient(to right,#fff 0%,#fff 50%,#fafafa 75%,#fafafa 100%);
  /* @apply bg-[conic-gradient(at_top_left,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black */
  @apply text-gray-700;
}
header{
  @apply bg-gradient-to-r from-teal-600 to-teal-700;
  /* background: linear-gradient(54deg,#0d9488 34%,rgba(206,156,156,.95)); */
  nav{
    @apply flex items-center justify-end p-5;
    ul{
    @apply flex gap-6 list-none;
    li{
      @apply list-none text-white;
      :hover{
        @apply underline;
      }
    }
    }
  }
}

footer{
  @apply p-10 bg-gray-50 border-t border-gray-200;
}
.base-container {
  @apply container mx-auto px-6 xl:max-w-6xl 2xl:px-0;
}
.base-main{
  @apply base-container h-full mt-20 flex-1;
}


.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.toc a[data-level="2"] {
  @apply pl-4;
}
.toc a[data-level="3"] {
  @apply pl-8;
}
.toc a[data-level="4"] {
  @apply pl-12;
}
.toc a[data-level="5"] {
  @apply pl-16;
}
.toc a[data-level="6"] {
  @apply pl-20;
}